* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    margin: 15px;
}

main {
    margin: 15px;
}

.titulo-secao {
    margin: 20px 0px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #000;
}

.carousel {
    margin: 10px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.55);
  border-radius: 8px;
  padding: 0.5rem 1rem;
}

.carousel-img {
  width: 100%;
  max-height: 550px;
  object-fit: contain;
  background-color: #000;
  margin: 0px auto;
  display: block;
}

.card-img-top {
    height: auto;
    width: 80%;
    object-fit: cover;
    margin: 10px auto 0;
}

.text-h4 {
    color: #4b85f1; /* soft blue color */
}